.container{
  background-color: pink;
  height:700px;
  width: 1000px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: repeat(3, 1fr);
row-gap: 30px;
column-gap: 10px;
}
.item{
  background-color: grey;
  border-radius: 4px;
}
.item-1{
grid-row-start: 1;
grid-row-end: 6;
}
.item-2{
grid-column-start: 2;
grid-column-end: 4;
background-color: grey;
}
.item-3{
  grid-column-start: 2;
grid-column-end: 4;
background-color: grey;
}
.item-4{
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: grey;
}
.image-1{
  height: 240px;
  width:200px;
border-radius: 50%;
margin:5rem 3rem;
}
h2{
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  line-height: 2px;
}
.para-1{
  margin: 3px;
  padding:3px;
  }
.image-2{
  height: 100px;
  width: 150px;
  border-radius: 50%;
  padding:0px;
  float: right;
  margin:4px;
}
.para-2{
  text-align: center;
}
  .image-3{
    height:100px;
    width:150px;
    border-radius: 50%;
    float: right;
  margin:4px;
  padding:0px;
  }
  .para-3{
    text-align: center;
  }
  .avatar{
    height:100px;
    width:150px;
    border-radius: 50%;
    float: right;
  margin:4px;
  padding:0px;
  }
  .para-4{
    text-align: center;
  }




