ul{
list-style-type:square;
}
ul li,h1,h2,p{
  text-decoration:underline;
}
img{
width: 220px;
  border-radius: 10px;
  }
  table ,td{
    border:1px solid black;
    border-collapse: collapse;
    padding: 5px;
  }