.avatar{
width: 5rem;
height: 5rem;
background-color: #0000ff;
float:left;
margin-right: 0.5rem;
}
.tweet{
  border: 3px solid lightgreen;
}
.clear{
  clear: both;
}
p{
  font-size: large;
}
.container1{
  border: 3px solid lightseagreen;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 30vh;
  
}
.box{
 width:5rem;
  height:5rem;
  background-color: gold;
  margin: 1rem;
}
.container{
  display: grid;
  grid-template: 100px auto 100px / 30fr 70fr;
  grid-template-areas: 
  "header header"
  "sidebar  main"
  "footer  footer";
   height: 50vh;
   gap: 10px;
}
.box1{
  width:5rem;
  height:5rem;
  background-color: darkslateblue;
}
.big-boxA{
  grid-area: "header";
}
.bog-boxD{
  grid-area: "footer";
}